@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?yynz9i");
  src: url("../fonts/icomoon/icomoon.eot?yynz9i#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?yynz9i") format("truetype"), url("../fonts/icomoon/icomoon.woff?yynz9i") format("woff"), url("../fonts/icomoon/icomoon.svg?yynz9i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.checkbox-custom:checked + .icon-checkbox-custom-label:before {
  content: "\e91d"; }

.icon-review .path1:before {
  content: "\e911";
  color: #9b9b9b; }

.icon-review .path2:before {
  content: "\e912";
  margin-left: -1.2666015625em;
  color: white; }

.icon-following .path1:before {
  content: "\e902";
  color: #9b9b9b; }

.icon-following .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #9b9b9b; }

.icon-following .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: white; }

.icon-following .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: #9b9b9b; }

.icon-following .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: #9b9b9b; }

.icon-chat:before {
  content: "\e901"; }

.icon-bell:before {
  content: "\e900"; }

.icon-about:before {
  content: "\e905"; }

.icon-bag:before {
  content: "\e906"; }

.icon-camera:before {
  content: "\e907"; }

.icon-catap:before {
  content: "\e908"; }

.icon-comment:before {
  content: "\e909"; }

.icon-follower:before {
  content: "\e90a"; }

.icon-like:before {
  content: "\e90b"; }

.icon-listing:before {
  content: "\e90c"; }

.icon-location:before {
  content: "\e90d"; }

.icon-more:before {
  content: "\e90e"; }

.icon-people-num:before {
  content: "\e90f"; }

.icon-plus:before {
  content: "\e910"; }

.icon-search:before {
  content: "\e913"; }

.icon-sell-stuff:before {
  content: "\e914"; }

.icon-shopping-retail:before {
  content: "\e915"; }

.icon-star-line:before {
  content: "\e916"; }

.icon-star-solid:before {
  content: "\e917"; }

.icon-store:before {
  content: "\e918"; }

.icon-upload:before {
  content: "\e919"; }

.icon-url:before {
  content: "\e91a"; }

/*.icon-chat .path1:before {
  content: "\e900";
  color: rgb(144, 206, 81);
}
.icon-chat .path2:before {
  content: "\e901";
  margin-left: -1.0458984375em;
  color: rgb(144, 206, 81);
}
.icon-chat .path3:before {
  content: "\e902";
  margin-left: -1.0458984375em;
  color: rgb(246, 246, 246);
}
.icon-chat .path4:before {
  content: "\e903";
  margin-left: -1.0458984375em;
  color: rgb(246, 246, 246);
}
.icon-chat .path5:before {
  content: "\e904";
  margin-left: -1.0458984375em;
  color: rgb(246, 246, 246);
}
.icon-following .path1:before {
  content: "\e905";
  color: rgb(155, 155, 155);
}
.icon-following .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-following .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-following .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-following .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-following .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}*/
/*.icon-review .path1:before {
  content: "\e917";
  color: rgb(89, 188, 251);
}
.icon-review .path2:before {
  content: "\e918";
  margin-left: -1.2666015625em;
  color: rgb(255, 255, 255);
}*/
/*.icon-store .path1:before {
  content: "\e91e";
  color: rgb(71, 201, 175);
}
.icon-store .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path9:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path10:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path11:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path12:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path13:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path14:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path15:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path16:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path17:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(71, 201, 175);
}
.icon-store .path18:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(55, 195, 166);
}*/
@font-face {
  font-family: 'Nunito-Bold';
  src: url("../fonts/nunito/bold/Nunito-Bold.eot");
  src: url("../fonts/nunito/bold/Nunito-Bold.woff2") format("woff2"), url("../fonts/nunito/bold/Nunito-Bold.woff") format("woff"), url("../fonts/nunito/bold/Nunito-Bold.ttf") format("truetype"), url("../fonts/nunito/bold/Nunito-Bold.svg#Nunito-Bold") format("svg"), url("../fonts/nunito/bold/Nunito-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url("../fonts/nunito/extrabold/Nunito-ExtraBold.eot");
  src: url("../fonts/nunito/extrabold/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/nunito/extrabold/Nunito-ExtraBold.woff") format("woff"), url("../fonts/nunito/extrabold/Nunito-ExtraBold.ttf") format("truetype"), url("../fonts/nunito/extrabold/Nunito-ExtraBold.svg#Nunito-ExtraBold") format("svg"), url("../fonts/nunito/extrabold/Nunito-ExtraBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito-ExtraLight';
  src: url("../fonts/nunito/extralight/Nunito-ExtraLight.eot");
  src: url("../fonts/nunito/extralight/Nunito-ExtraLight.woff2") format("woff2"), url("../fonts/nunito/extralight/Nunito-ExtraLight.woff") format("woff"), url("../fonts/nunito/extralight/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/nunito/extralight/Nunito-ExtraLight.svg#Nunito-ExtraLight") format("svg"), url("../fonts/nunito/extralight/Nunito-ExtraLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito-Light';
  src: url("../fonts/nunito/light/Nunito-Light.eot");
  src: url("../fonts/nunito/light/Nunito-Light.woff2") format("woff2"), url("../fonts/nunito/light/Nunito-Light.woff") format("woff"), url("../fonts/nunito/light/Nunito-Light.ttf") format("truetype"), url("../fonts/nunito/light/Nunito-Light.svg#Nunito-Light") format("svg"), url("../fonts/nunito/light/Nunito-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../fonts/nunito/regular/Nunito-Regular.eot");
  src: url("../fonts/nunito/regular/Nunito-Regular.woff2") format("woff2"), url("../fonts/nunito/regular/Nunito-Regular.woff") format("woff"), url("../fonts/nunito/regular/Nunito-Regular.ttf") format("truetype"), url("../fonts/nunito/regular/Nunito-Regular.svg#Nunito-Regular") format("svg"), url("../fonts/nunito/regular/Nunito-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("../fonts/nunito/semibold/Nunito-SemiBold.eot");
  src: url("../fonts/nunito/semibold/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/nunito/semibold/Nunito-SemiBold.woff") format("woff"), url("../fonts/nunito/semibold/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/nunito/semibold/Nunito-SemiBold.svg#Nunito-SemiBold") format("svg"), url("../fonts/nunito/semibold/Nunito-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
